
@{
    ViewBag.Title = "Statistical";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    @* Tiêu đề ----------------------------------------------------------------------------------------- *@
    <div class="row p-2 text-center mb-5">
        <div class="col-md-12 align-items-center justify-content-center">
            <h4 class="fw-bold">THỐNG KÊ</h4>
        </div>
    </div>

    @* Nội dung ---------------------------------------------------------------------------------------- *@
    <div>

    </div>
</div>