
@{
    ViewBag.Title = "About";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    @* Giới thiệu *@
    <div class="row">
        <div class="col-md-12 align-items-center justify-content-center text-center">
            <img src="~/Content/images/logo.png" class="w-25 shadow p-3 mb-5 rounded-circle" />
        </div>
    </div>

    @* Tiêu đề ----------------------------------------------------------------------------------------------------------------- *@
    <div class="row">
        <div class="col-md-12 text-center mb-2">
            <h4 class="p-2" style="color:blue; font-weight:bold">Công ty Dược phẩm BBD</h4>
            <hr />
        </div>
    </div>

    @* Nội dung ---------------------------------------------------------------------------------------------------------------- *@
    <div class="row">
        <div class="col-md-12">
            <p class="ms-5 me-5 mb-5 mt-2">
                <text class="fw-bold">I. Về chúng tôi</text> <br />

                Hệ thống Nhà thuốc BBD là một trong những chuỗi bán lẻ dược phẩm uy tín tại Việt Nam.
                BBD chuyên cung cấp đa dạng
                các loại thuốc kê đơn, không kê đơn, các sản phẩm thực phẩm chức năng, trang thiết bị y tế,
                dược mỹ phẩm và nhiều sản phẩm chăm sóc sức khoẻ, tiêu dùng hàng ngày,.... <br /> <br />


                <text class="fw-bold">II. Sứ mệnh</text> <br />

                Hệ thống Nhà thuốc BBD luôn mong muốn được chăm sóc, phục vụ sức khỏe cộng đồng với chất lượng tốt nhất
                và giá cả hợp lý. <br /><br />

                <text class="fw-bold">III. Giá trị cốt lõi</text> <br />

                1. Chất lượng tốt - Uy tín hàng đầu

                Tất cả các Nhà thuốc trực thuộc hệ thống đều đạt chuẩn Thực hành thuốc tốt – GPP,
                với đội ngũ dược sĩ có chuyên môn và giàu kinh nghiệm. <br />

                Cam kết tư vấn cho khách hàng theo tiêu chí 4 đúng: <br />

                - Đúng thuốc.<br />
                - Đúng liều.<br />
                - Đúng cách.<br />
                - Đúng giá.<br />
                Tất cả thuốc và sản phẩm tại chuỗi nhà thuốc BBD đều được nhập từ chính hãng,
                được kiểm soát chất lượng theo quy trình chặt chẽ và bán đúng với giá niêm yết. <br />

                2. Khách hàng là trọng tâm <br />

                Nhà thuốc BBD không ngừng cải thiện chất lượng dịch vụ từ những điều nhỏ nhất, 
                nhằm nâng cao trải nghiệm khách hàng, đem lại sự hài lòng nhất cho Quý khách.<br />

                - Tư vấn thuốc 24/7.<br />
                - Hỗ trợ đổi trả cho các đơn hàng trong vòng 30 ngày.<br />
                - Giao hàng tận nơi.<br />
            </p>
        </div>
    </div>
</div>