
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 align-items-center justify-content-center text-center">
            <img src="~/Content/images/error.png" class="w-75" />
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12 align-items-center justify-content-center text-center">
            <a class="btn btn-link" href="/Customer/Home">Quay lại trang chủ</a>
        </div>
    </div>
</div>