@using Web_CongTyDuocPham.Models;

@model List<DANHMUC>
<ul class="nav flex-column">
    @foreach (var item in Model)
    {
        <li class="nav-item">
            @Html.ActionLink(item.TEN_DANHMUC, "HTSPTheoLoai", "Customer", new { maL = @item.ID_DANHMUC },
                    new { @class = "nav-link" })
        </li>
    }
</ul>