
@{
    ViewBag.Title = "LuuDatHang";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    @* Tiêu đề ----------------------------------------------------------------------------------------- *@
    <div class="row p-2 text-center mb-5">
        <div class="col-md-12">
            <h4 class="fw-bold">ĐẶT HÀNG THÀNH CÔNG</h4>
        </div>
    </div>

    @* Nội dung ---------------------------------------------------------------------------------------- *@
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h3 class="text-center">
                Đơn hàng của bạn đã được ghi nhận. <br />
                Chúng tôi sẽ cố gắng giao hàng cho bạn trong thời gian sớm nhất. <br />
                Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi. <br />
            </h3>
        </div>
    </div>
</div>